.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#orders-window {
  text-align: left;
  padding: 5px;
  border-radius: 10px;
  /* display: inline-block; */
  width: auto;
  float: left;
}

#logging-out-message {
  font-size: 25px;
}

#logout-choice {
  text-align: center;
}

/* #new-order {
  border: 2px solid black;
} */

.logout-options {
  color: white;
}

#new-order-price, #new-order-weight, #weight-ordered {
  text-align: right;
}

#new-order-price-header, #new-order-weight-header, #weight-ordered-header {
  text-align: right;
}

#submit-order-footer {
  text-align: center;
}

.line-item-total {
  background-color:#F5F5F5;
}

#total-price-footer {
  background-color: #F5F5F5;
  text-align: right;
  font-style: bold;
}

#changed-weight-header, #changed-weight {
  text-align: center;
}

#inventory-price, #inventory-price-header {
  text-align: right;
}

#delete-product-btn {
  background-color: rgb(246, 244, 244);
}
#delete-product-btn:hover {
  color: red;
}

#order-conf-total-price {
  font-weight: bolder;
  font-size: 25px;
}

.order-info {
  font-family: 'Papyrus', 'Copperplate', fantasy;
}

.route-headers {
  text-decoration: underline;
}
#item-num-sort-icon, #item-sort-icon {
  float: right;
}
#item-weight-sort-icon {
  float: left;
}
.order-card-list {
  max-height: 150px;
  overflow-x: auto;
}
.route-card-list {
  max-height: 300px;
  overflow-x: auto;
}
.route-card-segment {
  height: 200px;
  overflow-x: auto;
}
#login-error-handling {
  color: rgb(219, 6, 6);
}
#route-by-id-card {
  height: 700px;
  width: 800px;
}
#route-show-card-segment {
  height: 670px;
  overflow-x: auto;
}
#signup-error-handling {
  color: rgb(219, 6, 6);
}
#footer {
  background-color: #80ff80;
  width: 100%;
  bottom: 0px;
  position: fixed;
  z-index:150;
  height: 10px;
  background-image: linear-gradient(to right, #0000ff, #0066ff, #4da6ff, #006622, #00b33c, #00e673, #66ff66, #ff3333, #ff0000);
}
#new-customer-card {
  min-width: 500px;
  min-height: 500px;
}
input#new-customer-input {
  margin-bottom: 10px;
  text-align: center;
}
#new-customer-header {
  margin-top: 25px;
  margin-bottom: 25px;
}
#customers-list-card {
  max-height: 500px;
  overflow-x: auto;
}
#inventory {
  max-height: 450px;
  overflow-x: auto;
}
#new-product-header {
  text-align: center;
}
.routes-modal {
  max-height: fit-content;
  max-width: fit-content;
  top: 50px;
}
#delete-product-msg {
  color:rgb(255, 0, 0)
}
#edit-email-icon:hover {
    color: red;
}
#edit-email-check:hover {
    color: green;
}
#edit-item-number:hover, #edit-description:hover, #edit-price:hover, #plus-weight:hover, #orders-by-date:hover {
  color: white;
  background-color: lightseagreen;
}
#minus-weight:hover {
  color: white;
  background-color: red;
}
#employee-list {
  display: flex;
  justify-content: space-between;
}
.orders {
  text-align: center;
}
#search-orders {
  margin-top: 10px;
}
